.mainlayout {
          max-width: 1440px;
          margin: auto;
          
        }
     .container{
      max-width: 1440px !important;
      margin: auto;
     }   
      


    /* // working sector */

    .grid-container {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(1, 1fr); /* Default for small screens */
      margin: 50px 0px;
    }
    
    .card1{
      /* border: 1px solid #ddd; */
      border-radius: 8px;
      padding: 15px;
      text-align: center;
      /* background-color: #fff; */
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    }
    
    .card-img {
      width: 128px !important;
      height: 121px !important;
      height: auto;
      border-radius: 4px;
      margin-bottom: 10px;
      padding: 10px;

    }
    
    .card-title {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    
    .grid-container p {
      font-size: 14px !important;
      color: #666;
      line-height: 20px !important;
    }
    /* // fixed icons  */

    .fixed-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.fixed-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.whatsapp-icon {
  background-color: #25D366;
}

.email-icon {
  background-color: #D44638;
}

.fixed-icons a:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainlayout {
  animation: fadeIn 0.5s ease-in-out;
}

/* Fixed Icons Bounce Effect */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.fixed-icons a {
  animation: bounce 2s infinite;
}


    /* Responsive grid layout */
    @media (min-width: 500px) {
      .grid-container {
        grid-template-columns: repeat(2, 1fr); /* For tablets */
    
      }
      
    }
    @media (min-width: 768px) {
      .grid-container {
        grid-template-columns: repeat(3, 1fr); /* For tablets */
      }
    }
    
    @media (min-width: 1200px) {
      .grid-container {
        grid-template-columns: repeat(5, 1fr); /* For large screens */
      }
    }