@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Anton', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Smooch Sans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
